# .gitignore standard file for ICS Software Engineering Meteor Development.

# Ignore IntelliJ Project files.
*.iml
.idea/

# If on a Mac, ignore DS_Store.
.DS_Store

# Don't commit the production settings file.
settings.production.json

# Build node_modules locally, ignore errors.
node_modules/
npm-debug.log
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/eslint.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/eslint.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Project_Default.xml
app/.meteor/versions
app/.meteor/release
app/.meteor/packages
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/eslint.xml
app/.meteor/release
app/.meteor/packages
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/eslint.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
app/.meteor/packages
app/.meteor/release
app/.meteor/versions
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
