#main {
  padding-top: 20px;
}

#profile {
  border: 2px solid black;
  border-radius: 20px;
  width: 100%;
}

#image-upload {
  border-right: 1px solid black;
}

#profile-form {

}

.profile-header {
  font-family: 'Josefin Sans', sans-serif;
}