.landing-section-1 {
  padding: 10px 10px 50px 10px;
  color: #024731;
  background-color: #8eb9ff;

}


.landing-section-2 {
  padding-bottom: 0px;
  list-style: none;
  text-decoration: none;
  margin-bottom: 0px;
}

.landing-section-3 {
  padding: 20px 10px 0px 10px;
  background-color: #8eb9ff;
  color: #E5F9E7;
}

.slider{
  overflow: hidden;
  height: 350px;
  padding-bottom: 450px;
  padding-top: 70px;
}

.slider figure div{
  width: 20%;
  float: left;
}

.slider figure img{
  width: 100%;
}
.slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slide infinite;
}

@keyframes slide{
  0% {
    left: 0;
  }

  10% {
    left: 0;
  }

  15% {
    left: -100%;
  }

  35% {
    left: -100%;

  }

  40% {
    left: -200%;

  }

  60% {
    left: -200%;
  }

  65% {
    left: -300%;
  }

  75% {
    left: -300%;
  }

  80%{
    left: -400%;
  }

  90%{
    left: -400%
  }

  100% {
    left: 0;

  }

}




.landing-section-1-welcome {
  font-family: 'Baloo', Georgia, serif;
  font-weight: 900;
  font-size: 72px;
  color: white;
}

.landing-section-1-tagline {
  color: white;
  font-family: 'Lemonada', Georgia, serif;
}

.landing-section-header {
  font-family: 'Bree Serif', Georgia, serif;
  font-weight: 600;
  font-size: 36px;
  position: relative;
  clear: both;
  text-align: center;
  display: block;
}

.landing-section-header1 {
  font-family: 'Delius', Georgia, serif;
  font-weight: 100;
  font-size: 18px;
  position: relative;
  clear: both;
  text-align: center;
  display: block;

}

.ui.container{
  margin: 0;
  padding: 0;
}

.ui.grid.slide1{
  height: 500px;
  width: 1350px;
}

.ui.eight.wide.column.slide1{
  margin-bottom: 1350px;
  padding-top: 0px;
}
.ui.centered.rounded.fluid.image.slide1{
  padding-left: 10px;
}

.ui.container{
  margin: 0;
  padding: 0;
}

.ui.eight.wide.column.slide1-2{
  padding-right: 200px
}

.ui.landing-section-header{
  margin-top: 50px;
}
.ui.sixteen.wide.column.slide1-3 {
  margin-left: 170px;
}

.ui.grid.slide{
  height: 500px;
  width: 1350px;
}

.ui.eight.wide.column.slide3{
  margin: 100px 0px 0px 100px;
  width: 300px;
}

.ui.eight.wide.column.slide4{
  margin: 40px 0px 0px 100px;
  width: 300px;
}