

.landing-section-1-welcome {
  font-family: 'Baloo', Georgia, serif;
  font-weight: 900;
  font-size: 72px;
  color: white;
}

.landing-section-1-tagline {
  color: white;
  font-family: 'Lemonada', Georgia, serif;
}

.landing-section-header {
  font-family: 'Baloo', Georgia, serif;
  font-weight: 600;
  font-size: 25px;
  position: relative;
  clear: both;
  text-align: center;
  display: block;
  color: white;
}

.ui.container{
  margin: 0;
  padding: 0;
}

.ui.grid.slide1{
  height: 0px;
  width: 1350px;
}

.ui.eight.wide.column.slide1{
  margin-bottom: 100px;
  padding-top: 0px;
}
.ui.centered.rounded.fluid.image.slide1{
  padding-left: 10px;
}

.ui.container{
  margin: 0;
  padding: 0;
}

.ui.eight.wide.column.slide1-2{
  padding-right: 200px;
  margin-top: 120px;
}

.ui.sixteen.wide.column.slide1-3 {
  margin-left: 170px;
}

.ui.grid.slide{
  height: 500px;
  width: 1350px;
}

.ui.eight.wide.column.slide3{
  margin: 100px 0px 0px 100px;
  width: 300px;
}

.ui.eight.wide.column.slide4{
  margin: 40px 0px 0px 100px;
  width: 300px;
}




#i1, #i2, #i3, #i4, #i5{ display: none;}

.home-container{
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 1280px;
  height: 750px;
  padding-bottom: 0px;
  user-select: none;
  background-color: black;
}

.home-container .slide_img{
  position: absolute;
  width: 100%;;
  height: 100%;
}
.home-container .slide_img img{
  width: inherit;
  height: inherit;
}

.prev, .next{
  width: 12%;
  height: inherit;
  position: absolute;
  top:0;
  background-color: transparent;
  color: transparent;
  z-index: 99;
  transition: .45s;
  cursor: pointer;
  text-align: center;
}

.next{right:0;}
.prev{left:0;}

label span{
  position: absolute;
  font-size: 100pt;
  top: 50%;
  transform: translateY(-50%);
}

.prev:hover, .next:hover{
  transition: .3s;
  background-color: transparent;
  color: #ffffff;
}

.home-container #nav_slide{
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}

#nav_slide .dots{
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: white;
  transition: .4s;
}

#nav_slide .dots:hover {
  cursor: pointer;
  background-color: white;
  transition: .25s
}

.slide_img{z-index: -1;}

#i1:checked ~ #one  ,
#i2:checked ~ #two  ,
#i3:checked ~ #three,
#i4:checked ~ #four ,
#i5:checked ~ #five
{z-index: 9; animation: scroll 1s ease-in-out;}

#i1:checked  ~  #nav_slide #dot1,
#i2:checked  ~  #nav_slide #dot2,
#i3:checked  ~  #nav_slide #dot3,
#i4:checked  ~  #nav_slide #dot4,
#i5:checked  ~  #nav_slide #dot5
{ background-color: olive;}

@keyframes scroll{
  0%{	opacity:.4;}
  100%{opacity:1;}
}
@media screen and (max-width: 685px){
  .container{
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }

  label span { font-size: 50pt; }

  .prev, .next{
    width: 15%;
  }
  #nav_slide .dots{
    width: 12px;
    height: 12px;
  }
}
@media screen  and(min-width: 970px){
  .me{ display: none;}
}

.ui.huge.centered.rounded.fluid.image.slide1{
  border-radius: 60px;
}

.ui.centered.landing-section-header{
  font-size: 100px;
  margin-left: 50px;
  font-family: 'Baloo', Georgia, serif;;
}

.ui.grid{
  width: 6000px;
  height: 600px;
}

.ui.ten.wide.column.slide1{
  margin-left: 250px;
  padding-top: 10px;
  margin-top: 200px;
  margin-bottom: 100px;
  padding-bottom: 230px;
  border-radius: 50px;
}

.ui.landing-section-header{
  font-family: 'Mitr', Georgia, serif;
  margin-right: 30px;
  font-size: 60px;
  color: floralwhite;
  text-shadow: 2px 2px olive;
}
.landing-section-header1 {
  font-family: 'Delius', Georgia, serif;
  color: white;
  margin-left: 130px;
  font-size: 20px;
  color: floralwhite;
  text-shadow: 2px 2px olive;
}
.ui.five.wide.column.slide2 {
  margin-left: 150px;
  margin-top: 200px;
  margin-bottom: 100px;
  padding-bottom: 250px;
  border-radius: 50px;

}
.ui.landing-section-header2 {
  font-size: 50px;
  padding-right: 50px;
  text-shadow: 3px 3px black;
  color: white;
  padding-left: 20px;
  text-align: center;
  font-family: 'Mitr',Georgia, serif;;

}

#two{
  background: linear-gradient(rgba(20,20,20, 0.5), rgba(20,20,20, 0.5)), url('/images/landing-page-2.jpg');
  no-repeat;
  background-size: cover;
  margin-right: 7000px;
  height: 740px;
}

.ui.seven.wide.column.slide1{
  padding-top: 160px;
  margin-left: 160px;
  margin-top: 100px;
}
.landing-section-header3 {
  padding-left: 100px;
  font-family: 'Delius', Georgia, serif;
  color: white;
  font-size: 20px;
  color: floralwhite;
  text-shadow: 3px 3px black;

}
.landing-section-header4 {
  padding-left: 40px;
  font-family: 'Delius', Georgia, serif;
  color: white;
  font-size: 20px;
  color: white;
  text-shadow: 3px 3px black;
  text-align: left;
}

.ui.landing-section-header4 {
  font-size: 50px;
  padding-right: 50px;
  text-shadow: 3px 3px black;
  color: white;
  padding-left: 20px;
  text-align: left;
  font-family: 'Mitr',Georgia, serif;
  margin-left: 20px;
  margin-top: 20px;
}
.ui.five.wide.column.slide4{
  padding-top: 40px;
  margin-left: 90px;
  margin-top: 170px;
}
#four{
  background: linear-gradient(rgba(20,20,20, 0.5), rgba(20,20,20, 0.5)), url('/images/landing-page-4.jpeg') no-repeat;
  background-size: cover;
  margin-right: 7000px;
  height: 740px
}
#five{
  background: linear-gradient(rgba(20,20,20, 0.5), rgba(20,20,20, 0.5)), url('/images/landing-page-5.jpeg') no-repeat;
  background-size: cover;
  margin-right: 7000px;
  height: 740px;
}

.ui.eight.wide.column.slide5 {
  padding-top: 20px;
  margin-left: 90px;
  margin-top: 200px;
}

.ui.landing-section-header5 {
  font-size: 57px;
  padding-right: 50px;
  text-shadow: 3px 3px black;
  color: white;
  padding-left: 20px;
  text-align: left;
  font-family: 'Mitr',Georgia, serif;
  margin-left: 20px;
}
.landing-section-header5{
  text-align: left;
  padding-left: 40px;
  font-family: 'Delius', Georgia, serif;
  font-size: 20px;
  text-shadow: 3px 3px black;
  color: white;
}
