.landing-section-1 {
  padding: 10px 10px 90px 10px;
  background: url('https://cdn.pixabay.com/photo/2015/11/09/02/17/hawaii-1034552_960_720.jpg')no-repeat center;
  color: #024731;
  background-size: cover;

}

.landing-section-2 {
  padding: 20px 10px 20px 10px;
  background-color: white;
  color: black;
}

.landing-section-3 {
  padding: 20px 10px 30px 30px;
  background-color: #76A5BD;
  color: white;
}

.landing-section-4 {
  padding: 20px 10px 20px 10px;
  background-color:white;
  color: #76A5BD;
}


.landing-section-1-welcome {
  font-family: 'Bree Serif', Georgia, serif;
  font-weight: 900;
  font-size: 72px;
  color:white;
  text-shadow: 2px 2px black;
}
.landing-section-1-tagline{
  text-shadow: 3px 3px black;
  color: white;
}

.landing-section-header {
  font-family: 'Bree Serif', Georgia, serif;
  font-weight: 600;
  font-size: 36px;
  position: relative;
  clear: both;
  text-align: center;
  display: block;
}

.landing-section-header1 {
  font-family: 'Delius', Georgia, serif;
  font-weight: 100;
  font-size: 18px;
  position: relative;
  clear: both;
  text-align: center;
  display: block;

}

.ui.medium.centered.rounded.image{
  float: left;
}

