<template name="Directory_Profile_Ratings">

  <div class="card">
    <div class="content">
      <img class="right floated small ui image" src="/images/default-profile-pic.jpg"
           style="max-width: 100px; height: 100px;">
      <div class="header">
        {{ profile.firstName }} {{ profile.lastName }}
      </div>
      <div class="meta">
        <i class="star icon"></i>
        <i class="star icon"></i>
        <i class="star icon"></i>
        <i class="star icon"></i>
        <i class="star icon"></i>
      </div>
      <div class="meta">
        {{ profile.title}}
      </div>
      <div class="meta">
        {{ profile.location}}
      </div>
      <div class="description">
        {{ profile.bio }}
      </div>
      <div style="margin-top: 10px">

      </div>

    </div>
    <div class="extra content">
      <div class="ui equal width center aligned grid">
        <div class="column"><a href="mailto:{{ profile.username}}@hawaii.edu"><i class="big green mail icon"></i></a></div>
        <div class="column"><a href="#"><i class="big blue volume control phone icon"></i></a></div>
      </div>
    </div>
  </div>

</template>
